# Ignore node_modules and any generated folders
node_modules/
dist/
build/
android/

# Ignore all files in a specific folder
public/assets/

# Ignore test snapshots
**/__snapshots__/**

# Ignore mobile build files
public/manifest.webmanifest
ios/App/App/Assets.xcassets/AppIcon.appiconset/Contents.json
